.rating {
  display: flex;
  align-items: center;
}

.rating svg {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

@media screen and (max-width: 767px) {
  .rating svg {
    width: 15px;
    height: 15px;
  }
}
