.headerAccordion {
    height: 47px;
    background-color: #ff6060;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 6px 30px 6px 18px;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}

.titleAccordion {
    color: #ffffff;
	font-size: 24px;
	font-weight: 500;
	line-height: 34px;
}

.iconAccordion {
    height: 16px;
    width: 27px;
    margin: 0 12px 0 0;
}

.contentAccordion {
    color: #ff6060;
	background-color: #e5e5e5;
	font-size: 24px;
	line-height: 34px;
	padding: 23px 18px 18px 18px;
	border-radius: 0px 0px 5px 5px;
}

@media (min-width: 769px) and (max-width: 992px) {
	.headerAccordion {
        height: 40px;
		padding: 6px 10px 6px 12px;
	}

	.titleAccordion {
		font-size: 18px;
		line-height: 27px;
	}

	.iconAccordion {
		height: 18px;
	}

	.contentAccordion {
		font-size: 18px;
		line-height: 25px;
	}
}

@media (max-width: 768px) {
	.headerAccordion {
        height: 30px;
		padding: 0px 0px 0px 12px;
	}

	.titleAccordion {
		font-size: 13px;
		line-height: 19px;
	}

	.iconAccordion {
		width: 18px;
	}

	.contentAccordion {
		font-size: 12px;
		line-height: 17px;
	}
}